# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.GmailAnalyzer.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\USER\Desktop\Personal projects\GmailAnalyzer\GmailAnalyzer\.idea\.idea.GmailAnalyzer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
